/* News Feed Section */
.news-section {
  margin: 2rem 0;
}

.news-section-header {
  display: flex;
  flex-direction: row;
  margin: 20px 0 10px 10px;
  align-items: center;
  /* justify-content: space-between; */
}

.news-section-header img {
  width: 15px;
  height: 15px;
  margin: 0 10px 0 0;
}

.news-section-header div {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer;
}

.news-section-header div p {
  margin: 0 5px 0 0;
}

.news-section-header div img {
  transform: rotate(-90deg);
}

.news-feed {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.news-card {
  
  border-bottom: 1px solid #262E3B;
  
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  
}

.news-card-image {
  max-width: 80px;
}



.news-card-content {
  padding: 0 20px;
}

.news-meta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.8rem;

  color: #fff;
}

.news-source, .news-time, .news-separator {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  color: #565F70;
  font-size: 11px;
}

/* .news-time {
  color: #807e84;
    font-size: 0.8em;
} */

.news-card-title {
  margin: 0 0 0.8rem 0;
  line-height: 1.2;
  font-weight: 400;
  color: #F2F4F8;
}

.news-card-title a {
  color: #F2F4F8;
  text-decoration: none;
  transition: color 0.2s ease;
}

.news-card-title a:hover {
  /* color: #e9716b; */
}

.news-summary {
  color: #565F70;

  margin-bottom: 20px;
}

.news-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: #807e84;
  font-style: italic;
}

.news-section-header {
  /* display: flex; */
  /* justify-content: space-between; */

}

/* Responsive Design */
@media (max-width: 768px) {
  .section-header {
    /* flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem; */
  }
  
  /* .section-header h2 {
    font-size: 1.3rem;
  } */
  
  .news-feed {
    /* grid-template-columns: 1fr; */
  }
}

@media (max-width: 480px) {
  /* .section-header h2 {
    font-size: 1.2rem;
  } */
  
  .news-card-content {
    /* padding: 0.8rem; */
  }
  

}