/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* Import local fonts */
@font-face {
  font-family: 'Schabo Condensed';
  src: url('./assets/fonts/schabo-condensed/SCHABO-Condensed.woff2') format('woff2'),
       url('./assets/fonts/schabo-condensed/SCHABO-Condensed.woff') format('woff'),
       url('./assets/fonts/schabo-condensed/SCHABO-Condensed.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* full height for all pages */
html, body, #root {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* optional global font or background */
body {
  font-family: Arial, sans-serif;
  background: #000000;
  color: white;
  font-size: 12px;
}

/* Schabo Condensed font classes */
.schabo-condensed {
  font-family: 'Schabo Condensed', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* Schabo Condensed for headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "schabo-condensed", Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  margin: 0;
  font-size: inherit;
}
/* h1.schabo-condensed,
h2.schabo-condensed,
h3.schabo-condensed,
h4.schabo-condensed,
h5.schabo-condensed,
h6.schabo-condensed {
  font-family: 'Schabo Condensed', Arial, sans-serif;
  font-weight: normal;
} */



/*

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  font-size: inherit;
}


h1.permanent-marker {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

h2.permanent-marker {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

h3.permanent-marker {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
 */

