/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Import local fonts */
@font-face {
  font-family: 'Schabo Condensed';
  src: url('./assets/fonts/schabo-condensed/SCHABO-Condensed.woff2') format('woff2'),
       url('./assets/fonts/schabo-condensed/SCHABO-Condensed.woff') format('woff'),
       url('./assets/fonts/schabo-condensed/SCHABO-Condensed.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* @import url('./assets/images/7.svg');
@import url('./assets/images/8.svg');
@import url('./assets/images/9.svg');
@import url('./assets/images/10.svg'); */

/* full height for all pages */
html, body, #root {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* optional global font or background */
body {
  font-family: 'Roboto', Arial, sans-serif;
  /* background: #000000; */
  background-image: url('./assets/images/9.svg');

  
  color: white;
  font-size: 12px;
}

/* Schabo Condensed font classes */
.schabo-condensed {
  font-family: 'Schabo Condensed', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Schabo Condensed', Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  color: #ceeec6
}

/* #01544a */
/* #00cf77 */
/* #171717 */

